body {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 980px;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.masthead {

}

.menutop1 {
    background-image: url("../img/bg_menu1.png");
    background-repeat: no-repeat;
    background-origin: border-box;
    height: 55px !important;
}

.menutop2 {
    height: 72px !important;
    margin-top: 10px;
}

.footer {
    text-align: center;
}

.menutop2 .navbar .navbar-inner{
    height: 40px;
}

.navbar-harvest .navbar-inner {
    background: transparent;
    border: none;
    box-shadow:none;
    min-height: 55px;

}
.navbar-harvest .navbar-inner .nav {

}
.navbar-harvest .brand {
    color: #fff;
    text-shadow: none;
}
.navbar-harvest .navbar-inner .nav li a {
    color: #f67d0f;
    padding-top: 17px;
    padding-bottom: 17px;
    text-shadow: none;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background 0.1s linear,opacity 0.1s linear;
    -moz-transition: background 0.1s linear,opacity 0.1s linear;
    -ms-transition: background 0.1s linear,opacity 0.1s linear;
    -o-transition: background 0.1s linear,opacity 0.1s linear;
    transition: background 0.1s linear,opacity 0.1s linear;
    -webkit-font-smoothing: antialiased;
    opacity: .9;
    font-weight: 600;
}
.navbar-harvest .navbar-inner .nav li a:hover {
    background: #f67d0f;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #fff;
    opacity: 1;
}


.navbar-search .search-query {
    border-radius: 15px 0 0 15px;
    padding: 4px 14px;
    border-right-style: none;
    width: 170px;
}

.input-append .add-on:last-child {
    border-radius: 0 15px 15px 0;
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-left-style: none;
}

.navbar-inverse .input-append .add-on:last-child
{
    -moz-transition: none 0s ease 0s;
    background-color: #515151;
    border-color: #111111;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.15);
}

.navbar-centro .navbar-inner {
    background: transparent;
    border: none;
    box-shadow:none;
    min-height: 55px;

}
.navbar-centro .navbar-inner .nav {

}
.navbar-centro .brand {
    color: #f67d0f;
    text-shadow: none;
    padding-bottom: 17px;
    padding-top: 17px;
}

.navbar-centro .brand:after { content: " |"; }
.navbar-centro .brand::before { content: url('../img/bullet.png'); margin-right: 10px; }

.navbar-centro .navbar-inner .nav li a {
    color: #f67d0f;
    padding-top: 17px;
    padding-bottom: 17px;
    text-shadow: none;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background 0.1s linear,opacity 0.1s linear;
    -moz-transition: background 0.1s linear,opacity 0.1s linear;
    -ms-transition: background 0.1s linear,opacity 0.1s linear;
    -o-transition: background 0.1s linear,opacity 0.1s linear;
    transition: background 0.1s linear,opacity 0.1s linear;
    -webkit-font-smoothing: antialiased;
    opacity: .9;
    font-weight: 600;
}

.active{
    background: #f67d0f;
}

.navbar-harvest .navbar-inner .nav li.active a {
    color: #FFFFFF;
}
.navbar-centro .navbar-inner .nav li.active a {
    color: #FFFFFF;
}
.navbar-centro .navbar-inner .nav li a:hover  {
    background: #f67d0f;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #fff;
    opacity: 1;
}

.media-body-custom{
    color: #808080;
}

.media-custom{
    background-color: #f1f1f1 !important;
    padding: 10px;
}

.media-custom-heading{
    color: #f67d0f;
}

.media-custom-hr{
    margin: 10px 0px 10px 0px;
    border-bottom-color: #808080;
}